In [1]:
import pandas as pd
train = pd.read_csv('data/train.csv')

In [6]:
surv_male = train.loc[(train['Sex'] == 'male') & (train['Survived'] == 1), 'PassengerId'].count()
surv_female = train.loc[(train['Sex'] == 'female') & (train['Survived'] == 1), 'PassengerId'].count()
dead_male = train.loc[(train['Sex'] == 'male') & (train['Survived'] == 0), 'PassengerId'].count()
dead_female = train.loc[(train['Sex'] == 'female') & (train['Survived'] == 0), 'PassengerId'].count()

In [7]:
total = pd.DataFrame({'male' : [dead_male, surv_male], 'female' : [dead_female, surv_female]})

In [8]:
total

   male  female
0   468      81
1   109     233

In [12]:
test = pd.DataFrame({ 'male': [dead_male, surv_male], 'female': [dead_female, surv_female] }, index=['Dead', 'Survived'])
# index 추가(해당 data의 명칭 표현)

In [11]:
test

          male  female
Dead       468      81
Survived   109     233

In [4]:
# 남자이면서 Pcalss가 1인 승객의 수
train.loc[(train['Sex'] == 'male') & (train['Pclass'] == 1), 'PassengerId'].count()

122

In [5]:
# 남자이면서 Pclass가 1이고 Fare가 50 이상인 승객
train.loc[(train['Sex'] == 'male') & (train['Pclass'] == 1) & (train['Fare'] >= 50), 'PassengerId'].count()

58