In [2]:
import pandas as pd

df = pd.read_csv('Hotel_Reviews.csv')
#['Average_Score','Reviewer_Score','Negative_Review','Positive_Review']

In [3]:
df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [4]:
df.loc[df['Negative_Review'] == 'No Negative', 'Negative_Review'] = ' '

In [5]:
df.loc[df['Positive_Review'] == 'No Positive', 'Positive_Review'] = ' '

In [6]:
df.loc[df['Negative_Review'] == 'Nothing', 'Negative_Review'] = ' '
df.loc[df['Positive_Review'] == 'Nothing', 'Positive_Review'] = ' '

In [6]:
#df['Positive_Review'][0]

In [7]:
#df['Positive_Review'][0].split()

In [8]:
#lists = []
#for i in range(len(df['Negative_Review'])):
#    lists.append(df['Negative_Review'][i].split())

In [9]:
#lists

In [10]:
#Po_reviews = []
#Ne_reviews = []

In [11]:
#Po_reviews = []
#Ne_reviews = []
#for i in range(len(df['Negative_Review'])):
#    Ne_reviews.append(df['Negative_Review'][i].split())
#for i in range(len(df['Negative_Review'])):
#    Po_reviews.append(df['Positive_Review'][i].split())

In [12]:
#Po_reviews[0]

In [13]:
#Po_reviews

In [7]:
import codecs

positive = []
negative= []
posneg = []

# 긍정어, 부정어 사전 불러오기
pos = open("./positive-words.txt", 'r')
neg = open("./negative-words.txt", 'r')

In [8]:
# 긍정어, 부정어를 list에 추가
while True:
    line = pos.readline()
    line = line.replace('\n', '')
    positive.append(line)
    posneg.append(line)
    if not line: break
pos.close()

while True:
    line = neg.readline()
    line = line.replace('\n', '')
    negative.append(line)
    posneg.append(line)
    if not line: break
neg.close()

In [32]:
print(positive)
#print(negative)
#print(posneg)

['abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation', 'accolade', 'accolades', 'accommodative', 'accomodative', 'accomplish', 'accomplished', 'accomplishment', 'accomplishments', 'accurate', 'accurately', 'achievable', 'achievement', 'achievements', 'achievible', 'acumen', 'adaptable', 'adaptive', 'adequate', 'adjustable', 'admirable', 'admirably', 'admiration', 'admire', 'admirer', 'admiring', 'admiringly', 'adorable', 'adore', 'adored', 'adorer', 'adoring', 'adoringly', 'adroit', 'adroitly', 'adulate', 'adulation', 'adulatory', 'advanced', 'advantage', 'advantageous', 'advantageously', 'advantages', 'adventuresome', 'adventurous', 'advocate', 'advocated', 'advocates', 'affability', 'affable', 'affably', 'affectation', 'affection', 'affectionate', 'affinity', 'affirm', 'affirmation', 'affirmative', 'affluence', 'affluent', 'afford', 'affordable', 'affordably', 'afordable', 'agile', 'agilely', 'agility', 'agreeable', 'agreeableness', 'agreeably', 'all-around', 'alluring', 'alluringly', 'altruistic', 'altruistically', 'amaze', 'amazed', 'amazement', 'amazes', 'amazing', 'amazingly', 'ambitious', 'ambitiously', 'ameliorate', 'amenable', 'amenity', 'amiability', 'amiabily', 'amiable', 'amicability', 'amicable', 'amicably', 'amity', 'ample', 'amply', 'amuse', 'amusing', 'amusingly', 'angel', 'angelic', 'apotheosis', 'appeal', 'appealing', 'applaud', 'appreciable', 'appreciate', 'appreciated', 'appreciates', 'appreciative', 'appreciatively', 'appropriate', 'approval', 'approve', 'ardent', 'ardently', 'ardor', 'articulate', 'aspiration', 'aspirations', 'aspire', 'assurance', 'assurances', 'assure', 'assuredly', 'assuring', 'astonish', 'astonished', 'astonishing', 'astonishingly', 'astonishment', 'astound', 'astounded', 'astounding', 'astoundingly', 'astutely', 'attentive', 'attraction', 'attractive', 'attractively', 'attune', 'audible', 'audibly', 'auspicious', 'authentic', 'authoritative', 'autonomous', 'available', 'aver', 'avid', 'avidly', 'award', 'awarded', 'awards', 'awe', 'awed', 'awesome', 'awesomely', 'awesomeness', 'awestruck', 'awsome', 'backbone', 'balanced', 'bargain', 'beauteous', 'beautiful', 'beautifullly', 'beautifully', 'beautify', 'beauty', 'beckon', 'beckoned', 'beckoning', 'beckons', 'believable', 'believeable', 'beloved', 'benefactor', 'beneficent', 'beneficial', 'beneficially', 'beneficiary', 'benefit', 'benefits', 'benevolence', 'benevolent', 'benifits', 'best', 'best-known', 'best-performing', 'best-selling', 'better', 'better-known', 'better-than-expected', 'beutifully', 'blameless', 'bless', 'blessing', 'bliss', 'blissful', 'blissfully', 'blithe', 'blockbuster', 'bloom', 'blossom', 'bolster', 'bonny', 'bonus', 'bonuses', 'boom', 'booming', 'boost', 'boundless', 'bountiful', 'brainiest', 'brainy', 'brand-new', 'brave', 'bravery', 'bravo', 'breakthrough', 'breakthroughs', 'breathlessness', 'breathtaking', 'breathtakingly', 'breeze', 'bright', 'brighten', 'brighter', 'brightest', 'brilliance', 'brilliances', 'brilliant', 'brilliantly', 'brisk', 'brotherly', 'bullish', 'buoyant', 'cajole', 'calm', 'calming', 'calmness', 'capability', 'capable', 'capably', 'captivate', 'captivating', 'carefree', 'cashback', 'cashbacks', 'catchy', 'celebrate', 'celebrated', 'celebration', 'celebratory', 'champ', 'champion', 'charisma', 'charismatic', 'charitable', 'charm', 'charming', 'charmingly', 'chaste', 'cheaper', 'cheapest', 'cheer', 'cheerful', 'cheery', 'cherish', 'cherished', 'cherub', 'chic', 'chivalrous', 'chivalry', 'civility', 'civilize', 'clarity', 'classic', 'classy', 'clean', 'cleaner', 'cleanest', 'cleanliness', 'cleanly', 'clear', 'clear-cut', 'cleared', 'clearer', 'clearly', 'clears', 'clever', 'cleverly', 'cohere', 'coherence', 'coherent', 'cohesive', 'colorful', 'comely', 'comfort', 'comfortable', 'comfortably', 'comforting', 'comfy', 'commend', 'commendable', 'commendably', 'commitment', 'commodious', 'compact', 'compactly', 'compassion', 'compassionate', 'compatible', 'competitive', 'complement', 'complementary', 'complemented', 'complements', 'compliant', 'compliment', 'complimentary', 'comprehensive', 'conciliate', 'conciliatory', 'concise', 'confidence', 'confident', 'congenial', 'congratulate', 'congratulation', 'congratulations', 'congratulatory', 'conscientious', 'considerate', 'consistent', 'consistently', 'constructive', 'consummate', 'contentment', 'continuity', 'contrasty', 'contribution', 'convenience', 'convenient', 'conveniently', 'convience', 'convienient', 'convient', 'convincing', 'convincingly', 'cool', 'coolest', 'cooperative', 'cooperatively', 'cornerstone', 'correct', 'correctly', 'cost-effective', 'cost-saving', 'counter-attack', 'counter-attacks', 'courage', 'courageous', 'courageously', 'courageousness', 'courteous', 'courtly', 'covenant', 'cozy', 'creative', 'credence', 'credible', 'crisp', 'crisper', 'cure', 'cure-all', 'cushy', 'cute', 'cuteness', 'danke', 'danken', 'daring', 'daringly', 'darling', 'dashing', 'dauntless', 'dawn', 'dazzle', 'dazzled', 'dazzling', 'dead-cheap', 'dead-on', 'decency', 'decent', 'decisive', 'decisiveness', 'dedicated', 'defeat', 'defeated', 'defeating', 'defeats', 'defender', 'deference', 'deft', 'deginified', 'delectable', 'delicacy', 'delicate', 'delicious', 'delight', 'delighted', 'delightful', 'delightfully', 'delightfulness', 'dependable', 'dependably', 'deservedly', 'deserving', 'desirable', 'desiring', 'desirous', 'destiny', 'detachable', 'devout', 'dexterous', 'dexterously', 'dextrous', 'dignified', 'dignify', 'dignity', 'diligence', 'diligent', 'diligently', 'diplomatic', 'dirt-cheap', 'distinction', 'distinctive', 'distinguished', 'diversified', 'divine', 'divinely', 'dominate', 'dominated', 'dominates', 'dote', 'dotingly', 'doubtless', 'dreamland', 'dumbfounded', 'dumbfounding', 'dummy-proof', 'durable', 'dynamic', 'eager', 'eagerly', 'eagerness', 'earnest', 'earnestly', 'earnestness', 'ease', 'eased', 'eases', 'easier', 'easiest', 'easiness', 'easing', 'easy', 'easy-to-use', 'easygoing', 'ebullience', 'ebullient', 'ebulliently', 'ecenomical', 'economical', 'ecstasies', 'ecstasy', 'ecstatic', 'ecstatically', 'edify', 'educated', 'effective', 'effectively', 'effectiveness', 'effectual', 'efficacious', 'efficient', 'efficiently', 'effortless', 'effortlessly', 'effusion', 'effusive', 'effusively', 'effusiveness', 'elan', 'elate', 'elated', 'elatedly', 'elation', 'electrify', 'elegance', 'elegant', 'elegantly', 'elevate', 'elite', 'eloquence', 'eloquent', 'eloquently', 'embolden', 'eminence', 'eminent', 'empathize', 'empathy', 'empower', 'empowerment', 'enchant', 'enchanted', 'enchanting', 'enchantingly', 'encourage', 'encouragement', 'encouraging', 'encouragingly', 'endear', 'endearing', 'endorse', 'endorsed', 'endorsement', 'endorses', 'endorsing', 'energetic', 'energize', 'energy-efficient', 'energy-saving', 'engaging', 'engrossing', 'enhance', 'enhanced', 'enhancement', 'enhances', 'enjoy', 'enjoyable', 'enjoyably', 'enjoyed', 'enjoying', 'enjoyment', 'enjoys', 'enlighten', 'enlightenment', 'enliven', 'ennoble', 'enough', 'enrapt', 'enrapture', 'enraptured', 'enrich', 'enrichment', 'enterprising', 'entertain', 'entertaining', 'entertains', 'enthral', 'enthrall', 'enthralled', 'enthuse', 'enthusiasm', 'enthusiast', 'enthusiastic', 'enthusiastically', 'entice', 'enticed', 'enticing', 'enticingly', 'entranced', 'entrancing', 'entrust', 'enviable', 'enviably', 'envious', 'enviously', 'enviousness', 'envy', 'equitable', 'ergonomical', 'err-free', 'erudite', 'ethical', 'eulogize', 'euphoria', 'euphoric', 'euphorically', 'evaluative', 'evenly', 'eventful', 'everlasting', 'evocative', 'exalt', 'exaltation', 'exalted', 'exaltedly', 'exalting', 'exaltingly', 'examplar', 'examplary', 'excallent', 'exceed', 'exceeded', 'exceeding', 'exceedingly', 'exceeds', 'excel', 'exceled', 'excelent', 'excellant', 'excelled', 'excellence', 'excellency', 'excellent', 'excellently', 'excels', 'exceptional', 'exceptionally', 'excite', 'excited', 'excitedly', 'excitedness', 'excitement', 'excites', 'exciting', 'excitingly', 'exellent', 'exemplar', 'exemplary', 'exhilarate', 'exhilarating', 'exhilaratingly', 'exhilaration', 'exonerate', 'expansive', 'expeditiously', 'expertly', 'exquisite', 'exquisitely', 'extol', 'extoll', 'extraordinarily', 'extraordinary', 'exuberance', 'exuberant', 'exuberantly', 'exult', 'exultant', 'exultation', 'exultingly', 'eye-catch', 'eye-catching', 'eyecatch', 'eyecatching', 'fabulous', 'fabulously', 'facilitate', 'fair', 'fairly', 'fairness', 'faith', 'faithful', 'faithfully', 'faithfulness', 'fame', 'famed', 'famous', 'famously', 'fancier', 'fancinating', 'fancy', 'fanfare', 'fans', 'fantastic', 'fantastically', 'fascinate', 'fascinating', 'fascinatingly', 'fascination', 'fashionable', 'fashionably', 'fast', 'fast-growing', 'fast-paced', 'faster', 'fastest', 'fastest-growing', 'faultless', 'fav', 'fave', 'favor', 'favorable', 'favored', 'favorite', 'favorited', 'favour', 'fearless', 'fearlessly', 'feasible', 'feasibly', 'feat', 'feature-rich', 'fecilitous', 'feisty', 'felicitate', 'felicitous', 'felicity', 'fertile', 'fervent', 'fervently', 'fervid', 'fervidly', 'fervor', 'festive', 'fidelity', 'fiery', 'fine', 'fine-looking', 'finely', 'finer', 'finest', 'firmer', 'first-class', 'first-in-class', 'first-rate', 'flashy', 'flatter', 'flattering', 'flatteringly', 'flawless', 'flawlessly', 'flexibility', 'flexible', 'flourish', 'flourishing', 'fluent', 'flutter', 'fond', 'fondly', 'fondness', 'foolproof', 'foremost', 'foresight', 'formidable', 'fortitude', 'fortuitous', 'fortuitously', 'fortunate', 'fortunately', 'fortune', 'fragrant', 'free', 'freed', 'freedom', 'freedoms', 'fresh', 'fresher', 'freshest', 'friendliness', 'friendly', 'frolic', 'frugal', 'fruitful', 'ftw', 'fulfillment', 'fun', 'futurestic', 'futuristic', 'gaiety', 'gaily', 'gain', 'gained', 'gainful', 'gainfully', 'gaining', 'gains', 'gallant', 'gallantly', 'galore', 'geekier', 'geeky', 'gem', 'gems', 'generosity', 'generous', 'generously', 'genial', 'genius', 'gentle', 'gentlest', 'genuine', 'gifted', 'glad', 'gladden', 'gladly', 'gladness', 'glamorous', 'glee', 'gleeful', 'gleefully', 'glimmer', 'glimmering', 'glisten', 'glistening', 'glitter', 'glitz', 'glorify', 'glorious', 'gloriously', 'glory', 'glow', 'glowing', 'glowingly', 'god-given', 'god-send', 'godlike', 'godsend', 'gold', 'golden', 'good', 'goodly', 'goodness', 'goodwill', 'goood', 'gooood', 'gorgeous', 'gorgeously', 'grace', 'graceful', 'gracefully', 'gracious', 'graciously', 'graciousness', 'grand', 'grandeur', 'grateful', 'gratefully', 'gratification', 'gratified', 'gratifies', 'gratify', 'gratifying', 'gratifyingly', 'gratitude', 'great', 'greatest', 'greatness', 'grin', 'groundbreaking', 'guarantee', 'guidance', 'guiltless', 'gumption', 'gush', 'gusto', 'gutsy', 'hail', 'halcyon', 'hale', 'hallmark', 'hallmarks', 'hallowed', 'handier', 'handily', 'hands-down', 'handsome', 'handsomely', 'handy', 'happier', 'happily', 'happiness', 'happy', 'hard-working', 'hardier', 'hardy', 'harmless', 'harmonious', 'harmoniously', 'harmonize', 'harmony', 'headway', 'heal', 'healthful', 'healthy', 'hearten', 'heartening', 'heartfelt', 'heartily', 'heartwarming', 'heaven', 'heavenly', 'helped', 'helpful', 'helping', 'hero', 'heroic', 'heroically', 'heroine', 'heroize', 'heros', 'high-quality', 'high-spirited', 'hilarious', 'holy', 'homage', 'honest', 'honesty', 'honor', 'honorable', 'honored', 'honoring', 'hooray', 'hopeful', 'hospitable', 'hot', 'hotcake', 'hotcakes', 'hottest', 'hug', 'humane', 'humble', 'humility', 'humor', 'humorous', 'humorously', 'humour', 'humourous', 'ideal', 'idealize', 'ideally', 'idol', 'idolize', 'idolized', 'idyllic', 'illuminate', 'illuminati', 'illuminating', 'illumine', 'illustrious', 'ilu', 'imaculate', 'imaginative', 'immaculate', 'immaculately', 'immense', 'impartial', 'impartiality', 'impartially', 'impassioned', 'impeccable', 'impeccably', 'important', 'impress', 'impressed', 'impresses', 'impressive', 'impressively', 'impressiveness', 'improve', 'improved', 'improvement', 'improvements', 'improves', 'improving', 'incredible', 'incredibly', 'indebted', 'individualized', 'indulgence', 'indulgent', 'industrious', 'inestimable', 'inestimably', 'inexpensive', 'infallibility', 'infallible', 'infallibly', 'influential', 'ingenious', 'ingeniously', 'ingenuity', 'ingenuous', 'ingenuously', 'innocuous', 'innovation', 'innovative', 'inpressed', 'insightful', 'insightfully', 'inspiration', 'inspirational', 'inspire', 'inspiring', 'instantly', 'instructive', 'instrumental', 'integral', 'integrated', 'intelligence', 'intelligent', 'intelligible', 'interesting', 'interests', 'intimacy', 'intimate', 'intricate', 'intrigue', 'intriguing', 'intriguingly', 'intuitive', 'invaluable', 'invaluablely', 'inventive', 'invigorate', 'invigorating', 'invincibility', 'invincible', 'inviolable', 'inviolate', 'invulnerable', 'irreplaceable', 'irreproachable', 'irresistible', 'irresistibly', 'issue-free', 'jaw-droping', 'jaw-dropping', 'jollify', 'jolly', 'jovial', 'joy', 'joyful', 'joyfully', 'joyous', 'joyously', 'jubilant', 'jubilantly', 'jubilate', 'jubilation', 'jubiliant', 'judicious', 'justly', 'keen', 'keenly', 'keenness', 'kid-friendly', 'kindliness', 'kindly', 'kindness', 'knowledgeable', 'kudos', 'large-capacity', 'laud', 'laudable', 'laudably', 'lavish', 'lavishly', 'law-abiding', 'lawful', 'lawfully', 'lead', 'leading', 'leads', 'lean', 'led', 'legendary', 'leverage', 'levity', 'liberate', 'liberation', 'liberty', 'lifesaver', 'light-hearted', 'lighter', 'likable', 'like', 'liked', 'likes', 'liking', 'lionhearted', 'lively', 'logical', 'long-lasting', 'lovable', 'lovably', 'love', 'loved', 'loveliness', 'lovely', 'lover', 'loves', 'loving', 'low-cost', 'low-price', 'low-priced', 'low-risk', 'lower-priced', 'loyal', 'loyalty', 'lucid', 'lucidly', 'luck', 'luckier', 'luckiest', 'luckiness', 'lucky', 'lucrative', 'luminous', 'lush', 'luster', 'lustrous', 'luxuriant', 'luxuriate', 'luxurious', 'luxuriously', 'luxury', 'lyrical', 'magic', 'magical', 'magnanimous', 'magnanimously', 'magnificence', 'magnificent', 'magnificently', 'majestic', 'majesty', 'manageable', 'maneuverable', 'marvel', 'marveled', 'marvelled', 'marvellous', 'marvelous', 'marvelously', 'marvelousness', 'marvels', 'master', 'masterful', 'masterfully', 'masterpiece', 'masterpieces', 'masters', 'mastery', 'matchless', 'mature', 'maturely', 'maturity', 'meaningful', 'memorable', 'merciful', 'mercifully', 'mercy', 'merit', 'meritorious', 'merrily', 'merriment', 'merriness', 'merry', 'mesmerize', 'mesmerized', 'mesmerizes', 'mesmerizing', 'mesmerizingly', 'meticulous', 'meticulously', 'mightily', 'mighty', 'mind-blowing', 'miracle', 'miracles', 'miraculous', 'miraculously', 'miraculousness', 'modern', 'modest', 'modesty', 'momentous', 'monumental', 'monumentally', 'morality', 'motivated', 'multi-purpose', 'navigable', 'neat', 'neatest', 'neatly', 'nice', 'nicely', 'nicer', 'nicest', 'nifty', 'nimble', 'noble', 'nobly', 'noiseless', 'non-violence', 'non-violent', 'notably', 'noteworthy', 'nourish', 'nourishing', 'nourishment', 'novelty', 'nurturing', 'oasis', 'obsession', 'obsessions', 'obtainable', 'openly', 'openness', 'optimal', 'optimism', 'optimistic', 'opulent', 'orderly', 'originality', 'outdo', 'outdone', 'outperform', 'outperformed', 'outperforming', 'outperforms', 'outshine', 'outshone', 'outsmart', 'outstanding', 'outstandingly', 'outstrip', 'outwit', 'ovation', 'overjoyed', 'overtake', 'overtaken', 'overtakes', 'overtaking', 'overtook', 'overture', 'pain-free', 'painless', 'painlessly', 'palatial', 'pamper', 'pampered', 'pamperedly', 'pamperedness', 'pampers', 'panoramic', 'paradise', 'paramount', 'pardon', 'passion', 'passionate', 'passionately', 'patience', 'patient', 'patiently', 'patriot', 'patriotic', 'peace', 'peaceable', 'peaceful', 'peacefully', 'peacekeepers', 'peach', 'peerless', 'pep', 'pepped', 'pepping', 'peppy', 'peps', 'perfect', 'perfection', 'perfectly', 'permissible', 'perseverance', 'persevere', 'personages', 'personalized', 'phenomenal', 'phenomenally', 'picturesque', 'piety', 'pinnacle', 'playful', 'playfully', 'pleasant', 'pleasantly', 'pleased', 'pleases', 'pleasing', 'pleasingly', 'pleasurable', 'pleasurably', 'pleasure', 'plentiful', 'pluses', 'plush', 'plusses', 'poetic', 'poeticize', 'poignant', 'poise', 'poised', 'polished', 'polite', 'politeness', 'popular', 'portable', 'posh', 'positive', 'positively', 'positives', 'powerful', 'powerfully', 'praise', 'praiseworthy', 'praising', 'pre-eminent', 'precious', 'precise', 'precisely', 'preeminent', 'prefer', 'preferable', 'preferably', 'prefered', 'preferes', 'preferring', 'prefers', 'premier', 'prestige', 'prestigious', 'prettily', 'pretty', 'priceless', 'pride', 'principled', 'privilege', 'privileged', 'prize', 'proactive', 'problem-free', 'problem-solver', 'prodigious', 'prodigiously', 'prodigy', 'productive', 'productively', 'proficient', 'proficiently', 'profound', 'profoundly', 'profuse', 'profusion', 'progress', 'progressive', 'prolific', 'prominence', 'prominent', 'promise', 'promised', 'promises', 'promising', 'promoter', 'prompt', 'promptly', 'proper', 'properly', 'propitious', 'propitiously', 'pros', 'prosper', 'prosperity', 'prosperous', 'prospros', 'protect', 'protection', 'protective', 'proud', 'proven', 'proves', 'providence', 'proving', 'prowess', 'prudence', 'prudent', 'prudently', 'punctual', 'pure', 'purify', 'purposeful', 'quaint', 'qualified', 'qualify', 'quicker', 'quiet', 'quieter', 'radiance', 'radiant', 'rapid', 'rapport', 'rapt', 'rapture', 'raptureous', 'raptureously', 'rapturous', 'rapturously', 'rational', 'razor-sharp', 'reachable', 'readable', 'readily', 'ready', 'reaffirm', 'reaffirmation', 'realistic', 'realizable', 'reasonable', 'reasonably', 'reasoned', 'reassurance', 'reassure', 'receptive', 'reclaim', 'recomend', 'recommend', 'recommendation', 'recommendations', 'recommended', 'reconcile', 'reconciliation', 'record-setting', 'recover', 'recovery', 'rectification', 'rectify', 'rectifying', 'redeem', 'redeeming', 'redemption', 'refine', 'refined', 'refinement', 'reform', 'reformed', 'reforming', 'reforms', 'refresh', 'refreshed', 'refreshing', 'refund', 'refunded', 'regal', 'regally', 'regard', 'rejoice', 'rejoicing', 'rejoicingly', 'rejuvenate', 'rejuvenated', 'rejuvenating', 'relaxed', 'relent', 'reliable', 'reliably', 'relief', 'relish', 'remarkable', 'remarkably', 'remedy', 'remission', 'remunerate', 'renaissance', 'renewed', 'renown', 'renowned', 'replaceable', 'reputable', 'reputation', 'resilient', 'resolute', 'resound', 'resounding', 'resourceful', 'resourcefulness', 'respect', 'respectable', 'respectful', 'respectfully', 'respite', 'resplendent', 'responsibly', 'responsive', 'restful', 'restored', 'restructure', 'restructured', 'restructuring', 'retractable', 'revel', 'revelation', 'revere', 'reverence', 'reverent', 'reverently', 'revitalize', 'revival', 'revive', 'revives', 'revolutionary', 'revolutionize', 'revolutionized', 'revolutionizes', 'reward', 'rewarding', 'rewardingly', 'rich', 'richer', 'richly', 'richness', 'right', 'righten', 'righteous', 'righteously', 'righteousness', 'rightful', 'rightfully', 'rightly', 'rightness', 'risk-free', 'robust', 'rock-star', 'rock-stars', 'rockstar', 'rockstars', 'romantic', 'romantically', 'romanticize', 'roomier', 'roomy', 'rosy', 'safe', 'safely', 'sagacity', 'sagely', 'saint', 'saintliness', 'saintly', 'salutary', 'salute', 'sane', 'satisfactorily', 'satisfactory', 'satisfied', 'satisfies', 'satisfy', 'satisfying', 'satisified', 'saver', 'savings', 'savior', 'savvy', 'scenic', 'seamless', 'seasoned', 'secure', 'securely', 'selective', 'self-determination', 'self-respect', 'self-satisfaction', 'self-sufficiency', 'self-sufficient', 'sensation', 'sensational', 'sensationally', 'sensations', 'sensible', 'sensibly', 'sensitive', 'serene', 'serenity', 'sexy', 'sharp', 'sharper', 'sharpest', 'shimmering', 's

In [16]:
df['Positive_Review'][0]

' The location was excellent for getting to the O2'

In [9]:
len(df['Positive_Review'])

515738

In [10]:
# 각 문장을 토대로 긍정, 부정 판별
pos_plabel = [] # 해당 문장의 긍정 부정 판별
pos_nlabel = []
neg_plabel = []
neg_nlabel = []

In [11]:
i = 0
for review in df['Positive_Review']:
    pos_plabel.append(0)
    pos_nlabel.append(0)
    # 사전을 토대로 조사
    for pword in positive: 
        if pword in review:
            pos_plabel[i] += 1
    for nword in negative:
        if nword in review:
            pos_nlabel[i] += 1
    i += 1

In [12]:
pos_plabel # 긍정적인 단어의 빈도수

[3,
 14,
 6,
 5,
 1,
 6,
 7,
 8,
 1,
 5,
 16,
 1,
 2,
 10,
 2,
 16,
 1,
 13,
 7,
 5,
 2,
 8,
 7,
 6,
 11,
 6,
 18,
 2,
 5,
 7,
 5,
 4,
 1,
 7,
 5,
 9,
 2,
 3,
 17,
 3,
 10,
 6,
 1,
 6,
 2,
 9,
 1,
 10,
 10,
 3,
 5,
 1,
 10,
 15,
 5,
 11,
 2,
 10,
 3,
 13,
 3,
 2,
 6,
 3,
 6,
 2,
 6,
 19,
 4,
 5,
 5,
 5,
 6,
 5,
 3,
 12,
 8,
 6,
 10,
 6,
 6,
 8,
 4,
 6,
 5,
 8,
 8,
 2,
 4,
 4,
 1,
 4,
 1,
 7,
 2,
 9,
 4,
 10,
 1,
 4,
 1,
 3,
 3,
 8,
 5,
 3,
 12,
 1,
 6,
 3,
 3,
 11,
 8,
 7,
 17,
 5,
 6,
 10,
 9,
 7,
 7,
 1,
 1,
 9,
 1,
 3,
 3,
 7,
 11,
 6,
 3,
 5,
 4,
 11,
 1,
 7,
 5,
 2,
 4,
 3,
 10,
 6,
 8,
 4,
 5,
 6,
 1,
 5,
 8,
 19,
 9,
 5,
 5,
 4,
 2,
 5,
 5,
 9,
 3,
 2,
 10,
 4,
 1,
 9,
 5,
 6,
 10,
 5,
 11,
 1,
 9,
 11,
 1,
 3,
 6,
 2,
 6,
 4,
 16,
 3,
 6,
 9,
 8,
 6,
 8,
 3,
 11,
 1,
 12,
 1,
 3,
 2,
 4,
 3,
 2,
 4,
 1,
 2,
 9,
 4,
 9,
 2,
 1,
 1,
 4,
 7,
 4,
 7,
 9,
 1,
 8,
 4,
 3,
 9,
 6,
 10,
 13,
 8,
 4,
 4,
 18,
 4,
 5,
 7,
 6,
 7,
 17,
 1,
 13,
 17,
 8,
 5,
 2,
 1,
 18,
 3,
 7,
 6,
 1,
 3,
 3,
 13,
 6,
 5,
 1,
 2,
 2,
 1,
 1,
 4,
 4,
 6,
 3,
 2,
 4,
 5,
 1,
 3,
 1,
 2,
 2,
 4,
 1,
 6,
 5,
 3,
 1,
 3,
 1,
 1,
 3,
 7,
 1,
 6,
 4,
 3,
 4,
 3,
 2,
 4,
 1,
 3,
 2,
 2,
 7,
 2,
 5,
 1,
 1,
 5,
 3,
 3,
 3,
 6,
 1,
 2,
 2,
 3,
 4,
 1,
 6,
 2,
 1,
 3,
 1,
 6,
 1,
 1,
 4,
 2,
 7,
 2,
 2,
 4,
 5,
 3,
 2,
 3,
 8,
 2,
 4,
 4,
 1,
 2,
 1,
 2,
 1,
 1,
 5,
 3,
 1,
 3,
 2,
 1,
 3,
 1,
 2,
 3,
 3,
 6,
 3,
 2,
 2,
 6,
 4,
 2,
 1,
 2,
 6,
 3,
 1,
 2,
 2,
 5,
 3,
 5,
 4,
 1,
 3,
 3,
 3,
 1,
 1,
 1,
 2,
 2,
 4,
 2,
 3,
 1,
 3,
 4,
 5,
 6,
 5,
 3,
 3,
 2,
 7,
 1,
 7,
 3,
 2,
 1,
 2,
 1,
 1,
 6,
 1,
 1,
 6,
 3,
 6,
 1,
 3,
 5,
 4,
 4,
 2,
 4,
 5,
 1,
 3,
 3,
 5,
 8,
 1,
 4,
 11,
 6,
 12,
 6,
 9,
 5,
 8,
 11,
 2,
 10,
 4,
 8,
 5,
 7,
 2,
 10,
 7,
 3,
 2,
 11,
 7,
 5,
 6,
 2,
 10,
 12,
 16,
 9,
 4,
 6,
 6,
 6,
 21,
 8,
 1,
 4,
 5,
 6,
 6,
 3,
 12,
 7,
 5,
 4,
 4,
 20,
 9,
 11,
 2,
 7,
 6,
 6,
 1,
 11,
 4,
 2,
 13,
 12,
 2,
 4,
 2,
 8,
 7,
 6,
 6,
 2,
 2,
 1,
 2,
 2,
 5,
 4,
 8,
 1,
 7,
 5,
 11,
 8,
 20,
 2,
 12,
 4,
 8,
 8,
 4,
 12,
 9,
 9,
 1,
 1,
 6,
 3,
 2,
 11,
 19,
 3,
 11,
 8,
 16,
 7,
 9,
 1,
 16,
 3,
 7,
 5,
 9,
 6,
 10,
 2,
 12,
 11,
 2,
 1,
 3,
 6,
 7,
 4,
 3,
 7,
 6,
 8,
 7,
 10,
 10,
 1,
 4,
 2,
 4,
 1,
 8,
 5,
 9,
 6,
 7,
 4,
 4,
 6,
 5,
 3,
 8,
 9,
 4,
 16,
 6,
 6,
 16,
 1,
 7,
 6,
 9,
 2,
 8,
 5,
 18,
 2,
 5,
 4,
 15,
 8,
 6,
 10,
 4,
 2,
 11,
 6,
 6,
 4,
 8,
 1,
 14,
 4,
 4,
 5,
 5,
 8,
 5,
 4,
 6,
 2,
 1,
 11,
 5,
 9,
 5,
 3,
 7,
 8,
 6,
 7,
 1,
 6,
 2,
 5,
 8,
 12,
 3,
 6,
 12,
 13,
 1,
 5,
 3,
 13,
 17,
 2,
 1,
 6,
 4,
 1,
 4,
 4,
 2,
 5,
 3,
 3,
 10,
 7,
 4,
 5,
 3,
 6,
 5,
 6,
 6,
 9,
 5,
 6,
 5,
 9,
 2,
 3,
 7,
 9,
 5,
 3,
 6,
 11,
 10,
 10,
 7,
 1,
 3,
 4,
 7,
 8,
 11,
 1,
 1,
 7,
 9,
 3,
 2,
 2,
 7,
 7,
 6,
 6,
 5,
 2,
 4,
 4,
 6,
 7,
 8,
 5,
 5,
 2,
 2,
 9,
 7,
 7,
 4,
 16,
 7,
 3,
 3,
 1,
 1,
 6,
 1,
 1,
 2,
 6,
 2,
 6,
 2,
 10,
 4,
 1,
 2,
 6,
 4,
 1,
 3,
 2,
 1,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 4,
 2,
 1,
 3,
 1,
 4,
 1,
 1,
 1,
 1,
 6,
 1,
 1,
 1,
 7,
 2,
 2,
 3,
 3,
 3,
 1,
 2,
 6,
 2,
 4,
 2,
 5,
 2,
 5,
 1,
 2,
 2,
 1,
 3,
 2,
 1,
 1,
 1,
 4,
 4,
 1,
 3,
 3,
 1,
 2,
 3,
 1,
 1,
 1,
 3,
 1,
 2,
 2,
 1,
 6,
 3,
 3,
 3,
 4,
 6,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 2,
 2,
 2,
 6,
 2,
 1,
 2,
 1,
 3,
 4,
 1,
 3,
 2,
 3,
 2,
 3,
 1,
 3,
 1,
 3,
 1,
 8,
 2,
 2,
 2,
 4,
 2,
 3,
 3,
 5,
 2,
 1,
 1,
 2,
 1,
 6,
 7,
 2,
 1,
 3,
 5,
 4,
 4,
 3,
 6,
 2,
 1,
 4,
 2,
 3,
 2,
 1,
 4,
 3,
 1,
 5,
 2,
 1,
 3,
 2,
 1,
 1,
 6,
 1,
 4,
 4,
 1,
 2,
 7,
 4,
 10,
 1,
 1,
 7,
 3,
 1,
 3,
 3,
 7,
 6,
 1,
 1,
 3,
 2,
 7,
 4,
 2,
 4,
 3,
 3,
 2,
 3,
 7,
 2,
 3,
 3,
 2,
 3,
 6,
 7,
 6,
 2,
 4,
 2,
 5,
 2,
 4,
 4,
 9,
 3,
 2,
 4,
 1,
 6,
 2,
 1,
 1,
 3,
 2,
 1,
 4,
 3,
 3,
 8,
 2,
 1,
 3,
 1,
 5,
 6,
 2,
 1,
 1,
 3,
 6,
 5,
 2,
 2,
 1,
 1,
 2,
 3,
 2,
 4,
 2,
 3,
 2,
 5,
 2,
 6,
 2,
 4,
 6,
 8,
 5,
 2,
 4,
 1,
 4,
 3,
 6,
 7,
 2,
 5,
 9,
 2,
 5,
 3,
 6,
 1,
 5,
 9,
 2,
 5,
 1,
 3,
 3,
 3,
 2,
 3,
 1,
 9,
 5,
 2,
 1,
 3,
 4,
 2,
 5,
 4,
 3,
 4,
 6,
 6,
 3,
 2,
 3,
 6,
 6,
 10,
 7,
 6,
 9,
 2,
 5,
 9,
 3,
 12,
 10,
 3,
 8,
 7,
 11,
 5,
 6,
 10,
 9,
 1,
 3,
 7,
 ...]

In [13]:
pos_nlabel # 부정적인 단어의 빈도수

[1,
 15,
 2,
 5,
 3,
 3,
 1,
 2,
 1,
 4,
 10,
 1,
 1,
 4,
 3,
 6,
 3,
 2,
 12,
 4,
 3,
 6,
 1,
 1,
 9,
 9,
 9,
 2,
 2,
 5,
 5,
 3,
 1,
 7,
 3,
 6,
 4,
 5,
 10,
 1,
 5,
 6,
 1,
 1,
 1,
 2,
 1,
 1,
 9,
 1,
 3,
 1,
 5,
 4,
 1,
 3,
 1,
 2,
 1,
 5,
 1,
 1,
 3,
 2,
 1,
 2,
 1,
 8,
 1,
 6,
 4,
 1,
 1,
 4,
 2,
 3,
 2,
 1,
 2,
 2,
 1,
 4,
 5,
 1,
 3,
 4,
 4,
 4,
 7,
 3,
 1,
 1,
 1,
 9,
 4,
 6,
 2,
 7,
 1,
 5,
 1,
 3,
 2,
 1,
 3,
 5,
 4,
 1,
 3,
 1,
 3,
 7,
 11,
 2,
 5,
 1,
 1,
 3,
 2,
 3,
 7,
 1,
 1,
 5,
 1,
 5,
 1,
 2,
 3,
 2,
 1,
 2,
 2,
 3,
 1,
 7,
 1,
 1,
 6,
 1,
 5,
 3,
 4,
 2,
 1,
 1,
 1,
 1,
 3,
 6,
 5,
 2,
 5,
 1,
 6,
 2,
 3,
 4,
 4,
 1,
 4,
 1,
 4,
 1,
 2,
 2,
 1,
 1,
 3,
 1,
 1,
 4,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 3,
 5,
 3,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 3,
 1,
 6,
 2,
 1,
 4,
 1,
 4,
 3,
 3,
 2,
 2,
 1,
 1,
 5,
 1,
 1,
 3,
 2,
 1,
 4,
 1,
 1,
 3,
 2,
 2,
 3,
 4,
 4,
 3,
 7,
 1,
 1,
 1,
 3,
 4,
 14,
 1,
 5,
 5,
 3,
 1,
 1,
 1,
 4,
 1,
 4,
 3,
 4,
 1,
 3,
 3,
 3,
 5,
 2,
 3,
 3,
 1,
 1,
 2,
 3,
 4,
 1,
 2,
 2,
 4,
 1,
 3,
 1,
 1,
 3,
 1,
 6,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 1,
 2,
 2,
 2,
 1,
 5,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 5,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 4,
 4,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 5,
 8,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 4,
 1,
 1,
 1,
 2,
 1,
 1,
 3,
 3,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 3,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 3,
 3,
 1,
 4,
 2,
 6,
 3,
 6,
 1,
 5,
 1,
 5,
 1,
 3,
 1,
 3,
 1,
 4,
 2,
 2,
 4,
 4,
 1,
 3,
 5,
 2,
 2,
 2,
 5,
 3,
 4,
 11,
 1,
 2,
 2,
 6,
 9,
 3,
 1,
 2,
 1,
 1,
 3,
 1,
 3,
 4,
 3,
 1,
 4,
 5,
 1,
 7,
 1,
 5,
 4,
 3,
 1,
 3,
 5,
 1,
 12,
 3,
 5,
 3,
 1,
 2,
 2,
 3,
 3,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 7,
 1,
 1,
 12,
 2,
 8,
 3,
 7,
 2,
 1,
 7,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 17,
 4,
 11,
 4,
 4,
 4,
 3,
 1,
 4,
 2,
 3,
 3,
 4,
 4,
 2,
 4,
 3,
 5,
 1,
 1,
 1,
 2,
 5,
 1,
 1,
 1,
 1,
 2,
 3,
 1,
 3,
 1,
 2,
 2,
 1,
 1,
 1,
 3,
 4,
 2,
 3,
 7,
 4,
 7,
 2,
 1,
 2,
 2,
 1,
 3,
 4,
 1,
 7,
 1,
 1,
 1,
 2,
 3,
 2,
 5,
 8,
 5,
 5,
 3,
 9,
 1,
 2,
 3,
 3,
 6,
 3,
 3,
 1,
 1,
 3,
 6,
 1,
 1,
 2,
 2,
 1,
 3,
 3,
 4,
 3,
 1,
 1,
 2,
 2,
 4,
 2,
 1,
 4,
 5,
 3,
 1,
 1,
 3,
 1,
 2,
 1,
 3,
 1,
 4,
 1,
 6,
 1,
 1,
 2,
 2,
 6,
 1,
 1,
 2,
 3,
 1,
 1,
 1,
 1,
 2,
 3,
 1,
 5,
 3,
 3,
 1,
 1,
 3,
 3,
 1,
 4,
 5,
 2,
 4,
 1,
 4,
 1,
 1,
 3,
 2,
 1,
 3,
 4,
 2,
 9,
 3,
 7,
 1,
 4,
 2,
 2,
 4,
 15,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 5,
 4,
 4,
 5,
 1,
 2,
 1,
 3,
 8,
 2,
 5,
 2,
 3,
 1,
 3,
 2,
 2,
 4,
 1,
 3,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 2,
 2,
 3,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 3,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 5,
 2,
 4,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 2,
 2,
 1,
 1,
 3,
 2,
 4,
 1,
 2,
 4,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 3,
 3,
 1,
 3,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 6,
 1,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 4,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 5,
 1,
 1,
 2,
 1,
 1,
 3,
 2,
 2,
 3,
 2,
 1,
 1,
 3,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 2,
 1,
 3,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 5,
 2,
 2,
 2,
 2,
 2,
 3,
 1,
 2,
 1,
 4,
 3,
 1,
 1,
 2,
 1,
 2,
 1,
 7,
 2,
 3,
 1,
 1,
 5,
 4,
 2,
 6,
 3,
 2,
 2,
 5,
 4,
 2,
 1,
 3,
 2,
 1,
 1,
 3,
 ...]

In [14]:
len(pos_plabel)==len(pos_nlabel)

True

In [15]:
len(df['Positive_Review'])==len(pos_plabel)

True

In [16]:
i = 0
for review in df['Negative_Review']:
    neg_plabel.append(0)
    neg_nlabel.append(0)
    # 사전을 토대로 조사
    for pword in positive: 
        if pword in review:
            neg_plabel[i] += 1
    for nword in negative:
        if nword in review:
            neg_nlabel[i] += 1
    i += 1

In [17]:
len(neg_plabel)

515738

In [18]:
df['pos_plabel']=pos_plabel
df['pos_nlabel']=pos_nlabel
df['neg_plabel']=neg_plabel
df['neg_nlabel']=neg_nlabel

df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,...,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,pos_plabel,pos_nlabel,neg_plabel,neg_nlabel
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,...,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,3,1,13,34
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,,0,1403,No real complaints the hotel was great great ...,...,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,14,15,1,1
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,...,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,6,2,2,4
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,...,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,5,5,12,26
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,...,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,1,3,8,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,...,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,1,1,1,1
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,...,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,2,4,3,1
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,,...,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,1,1,2,2
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,,0,2823,The rooms are enormous and really comfortable...,...,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,4,3,1,1
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,...,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,1,1,2,1

# plabel과 nlabel을 그래프로 그리기

In [19]:
df['p_ratio']=df['pos_plabel']/df['pos_nlabel']
df['n_ratio']=df['neg_plabel']/df['neg_nlabel']

df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,...,Tags,days_since_review,lat,lng,pos_plabel,pos_nlabel,neg_plabel,neg_nlabel,p_ratio,n_ratio
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,3,1,13,34,3.000000,0.382353
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,,0,1403,No real complaints the hotel was great great ...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,14,15,1,1,0.933333,1.000000
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,...,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,6,2,2,4,3.000000,0.500000
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,5,5,12,26,1.000000,0.461538
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,...,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,1,3,8,15,0.333333,0.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,...,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,1,1,1,1,1.000000,1.000000
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,...,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,2,4,3,1,0.500000,3.000000
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,,...,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,1,1,2,2,1.000000,1.000000
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,,0,2823,The rooms are enormous and really comfortable...,...,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,4,3,1,1,1.333333,1.000000
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,...,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,1,1,2,1,1.000000,2.000000

In [22]:
df2=pd.DataFrame()
df2['review']=df['Negative_Review'].append(df['Positive_Review'])
df2['ratio']=df['n_ratio'].append(df['p_ratio'])

import numpy as np
df2.index=np.arange(515738*2)

label=[]
for i in range(0,515738):
    label.append(0)
for i in range(515738,515738*2):
    label.append(1)

df2['label']=label

In [23]:
df2

                                                    review     ratio  label
0         I am so angry that i made this post available...  0.382353      0
1                                                           1.000000      0
2         Rooms are nice but for elderly a bit difficul...  0.500000      0
3         My room was dirty and I was afraid to walk ba...  0.461538      0
4         You When I booked with your company on line y...  0.533333      0
...                                                    ...       ...    ...
1031471                                           location  1.000000      1
1031472      Breakfast was ok and we got earlier check in   0.500000      1
1031473                                                     1.000000      1
1031474   The rooms are enormous and really comfortable...  1.333333      1
1031475                               staff was very kind   1.000000      1

[1031476 rows x 3 columns]

In [25]:
df2.to_csv('df2.csv')